<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smileflowpig.money">

    <!-- 小米推送权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <application
        android:name=".moneyplatfrom.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_flowpig"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="375" />
        <meta-data
            android:name="design_height"
            android:value="667" />

        <activity
            android:name=".moneyplatfrom.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.LaunchActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".moneyplatfrom.activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.ApActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity android:name=".moneyplatfrom.activities.Activity_AddressBook" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yf.useravatar"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <activity
            android:name=".moneyplatfrom.activities.DetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity android:name=".moneyplatfrom.activities.Activity_HouseCalc" />
        <activity android:name=".moneyplatfrom.guoshen.activity.HomeActivity" />
        <activity android:name=".moneyplatfrom.activities.Activity_Average_Capital_Interest" />
        <activity android:name=".moneyplatfrom.activities.Activity_Average_Capital" />
        <activity android:name=".moneyplatfrom.activities.Activity_Average_Capital_Calc" />
        <activity android:name=".moneyplatfrom.activities.Activity_Average_Capital_Interest_Calc" />
        <activity android:name=".moneyplatfrom.activities.Activity_loanCarCalc" />
        <activity android:name=".moneyplatfrom.activities.Activity_CreditCard_ByStages" />
        <activity android:name=".moneyplatfrom.activities.Activity_Income_Tax_Calc" />
        <activity
            android:name=".moneyplatfrom.activities.ChildProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.AdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />

        <service
            android:name=".factory.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".factory.service.DownService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".moneyplatfrom.guoshen.activity.MineActivity" />
        <activity android:name=".moneyplatfrom.guoshen.activity.AddActivity" />
        <activity
            android:name=".moneyplatfrom.activities.SetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.ActionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.ForgetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.web.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.ApActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.PlaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.RadiersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a9704d3771a6b8d967408f43191a5c00ffcaa49" />

        <activity
            android:name=".moneyplatfrom.activities.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.DetailActivityC"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name="wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bda5fdaf1f5564485000223" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".moneyplatfrom.activities.Webview_protocol"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.GuoShenDetail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MyHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MyBillActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MyTypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MySetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MyDaiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.NewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />

        <!-- 高德定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="645c73ba2c605217308ad971b4d31d71" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".moneyplatfrom.activities.CityotherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.DiscloseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MyCollectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MemoTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MySetTwoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.TypeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.CaseurlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.TableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.BillManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.BillDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.BillAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.WebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />


        <activity
            android:name=".moneyplatfrom.activities.TaskHongbaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main">


        </activity>

        <receiver
            android:name=".moneyplatfrom.util.AlarmReceiver"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".moneyplatfrom.activities.CardPigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.NewTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.FlowMeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.MyDatumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.IdentityCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.PayEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.RecodePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name=".moneyplatfrom.activities.RedPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"></activity>


        <activity
            android:name=".moneyplatfrom.activities.HongbaoRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />






    </application>

</manifest>